@use "../../../variables" as *;
.div-opt-page {
  padding-bottom: 30px;
  .border-title {
    border-bottom: 2px solid $secondary-color;
  }
  h2 {
    padding: 30px 0px;
    margin-bottom: 0;

    display: flex;
    flex-grow: 1;
  }
  .container {
    padding: 0 60px;
    @media (max-width: 992px) {
      max-width: 100%;
      width: 100%;
      padding: 0 15px;
    }
  }
  .options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    .add-btn {
      padding: 10px 30px;
      background-color: $secondary-color;
      color: $white;
      text-decoration: none;
      display: inline-flex;
      transition: background-color 0.3s;
      &:hover {
        background-color: darken($secondary-color, 5%);
      }
    }
    > div {
      display: flex;
      align-items: baseline;
      form {
        padding-left: 15px;
        cursor: pointer;
        input[type="checkbox"] {
          border-radius: none;
          padding: 10px;
          margin-right: 5px;
          cursor: pointer;
        }
        label {
          cursor: pointer;
          padding-left: 20px;
        }
        select {
          padding: 7px;
          border-radius: none;
          &:focus {
            outline: none;
          }
        }
      }
    }
  }
}
.item-line {
  display: flex;
  justify-content: space-between;
  > div {
    display: flex;
    align-items: center;
    label {
      margin-bottom: 0;
    }
    button {
      border: none;
      padding: 7px 15px;
      color: $white;
      margin-left: 10px;
      font-size: 14px;
      transition: background-color 0.3s;
      &:focus {
        outline: none;
      }
      &.desactiv-btn {
        background-color: $primary-color;
        &[disabled] {
          background-color: darken($neutral, 5%);

          &:hover {
            background-color: darken($neutral, 5%);
          }
        }
        &:hover {
          background-color: lighten($primary-color, 20%);
        }
      }
      &.modif-btn {
        background-color: $warning;
        &:hover {
          background-color: darken($warning, 10%);
        }
      }
      &.delete-btn {
        background-color: $danger;
        &[disabled] {
          background-color: darken($neutral, 5%);
          &:hover {
            background-color: darken($neutral, 5%);
          }
        }
        &:hover {
          background-color: darken($danger, 10%);
        }
      }
    }
  }
  border: 1px solid $neutral;
  padding: 15px;
  &:nth-child(2n) {
    background-color: $neutral;
  }
}
.view-page {
  padding-left: 15px;
  color: black;
  text-decoration: none;
  transition: color 0.3s;
  &:hover {
    color: $secondary-color;
  }
}

[type="checkbox"] {
  &:checked,
  &:not(:checked) {
    position: absolute;
    left: -9999px;
    & + label {
      position: relative;
      padding-left: 30px;
      cursor: pointer;
      &::before,
      &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 2px;
        width: 13px;
        height: 13px;
        border: 1px solid darken($neutral, 30%);
        background: $white;
      }
      &::after {
        background: $primary-color;
        border: 1px solid $primary-color;
        -webkit-transition: all 0.1s ease;
        transition: all 0.1s ease;
      }
    }
  }
  &:not(:checked) {
    & + label {
      &::after {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
      }
    }
  }
  &:checked {
    & + label {
      &::after {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
      }
    }
  }
}
